*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background: #E4FAEE;
}
.text{
    color: green;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}
.text h1{
    
}
.ankor{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap
}